@page "/"
@using Microsoft.AspNetCore.Components.Rendering
@inject IToastService toastService

<h1>Hello, Blazor Toast!</h1>

<button class="btn btn-info" @onclick="@(() => toastService.ShowInfo("I'm an INFO message"))">Info Toast</button>
<button class="btn btn-success" @onclick="@(() => toastService.ShowSuccess("I'm a SUCCESS message with a custom heading", "Congratulations!"))">Success Toast</button>
<button class="btn btn-warning" @onclick="@(() => toastService.ShowWarning("I'm a WARNING message"))">Warning Toast</button>
<button class="btn btn-danger" @onclick="@(() => toastService.ShowError("I'm an ERROR message"))">Error Toast</button>
<button class="btn btn-info" @onclick="@OnShowHtml">Info Toast with HTML</button>
<button class="btn btn-info" @onclick="@(() => toastService.ShowToast(ToastLevel.Info, "I'm an INFO message and will fire an event callback when closing",closeAction: (e) => OnClose(e)))">Info Toast with close event</button>

@code
{
    private void OnShowHtml()
    {
        RenderFragment message = @<text>I'm an <em>INFO</em> message with some <strong>bold</strong> text</text>;
        toastService.ShowToast(ToastLevel.Info, message);
    }

    private void OnClose(Blazored.Toast.CloseEventArgs e)
    {
        if(e != null)
        {
            toastService.ShowToast(ToastLevel.Info, $"Toast {e.Toast.ToastId} closed {(e.AutoClose ? "automatically" : "manually")}", "Toast closed");
        }
    }
}
