@inherits BlazoredToastBase

<div class="blazored-toast @ToastSettings.BaseClass @ToastSettings.AdditionalClasses">
    @if (!string.IsNullOrWhiteSpace(ToastSettings.IconClass))
    {
        <div class="blazored-toast-icon">
            <i class="@ToastSettings.IconClass" aria-hidden="true"></i>
        </div>
    }
    <div class="blazored-toast-body">
        <div class="blazored-toast-header">
            <h5>@ToastSettings.Heading</h5>
            <button @onclick=@Close>x</button>
        </div>

        <p>@ToastSettings.Message</p>
    </div>
</div>
