@using Blazored.Toast.Configuration
@using Blazored.Toast.Services
@using Microsoft.AspNetCore.Components.Web

@if (ChildContent is not null)
{
    <div class="blazored-toast blazored-toast-component @Settings.AdditionalClasses" @onmouseover="MouseOver" @onmouseout="MouseOut">
        <CascadingValue Value="this" IsFixed="true">
            @ChildContent
        </CascadingValue>

        @if (Settings is { DisableTimeout: false, ShowProgressBar: true })
        {
            <div class="blazored-toast-progressbar">
                <span style="width: @(_progress)%;"></span>
            </div>
        }
    </div>
}
else
{
    <div class="blazored-toast @Settings.AdditionalClasses" @onclick="ToastClick" @onmouseover="MouseOver" @onmouseout="MouseOut">

        @if (ShowIconDiv())
        {
            <div class="blazored-toast-icon">
                @switch (Settings.IconType)
                {
                    case IconType.Blazored:
                        switch (Level)
                        {
                            case ToastLevel.Info:
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info">
                                    <circle cx="12" cy="12" r="10"/>
                                    <line x1="12" y1="16" x2="12" y2="12"/>
                                    <line x1="12" y1="8" x2="12.01" y2="8"/>
                                </svg>
                                break;
                            case ToastLevel.Success:
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle">
                                    <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"/>
                                    <polyline points="22 4 12 14.01 9 11.01"/>
                                </svg>
                                break;
                            case ToastLevel.Warning:
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"/>
                                    <line x1="12" y1="9" x2="12" y2="13"/>
                                    <line x1="12" y1="17" x2="12.01" y2="17"/>
                                </svg>
                                break;
                            case ToastLevel.Error:
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"/>
                                    <line x1="15" y1="9" x2="9" y2="15"/>
                                    <line x1="9" y1="9" x2="15" y2="15"/>
                                </svg>
                                break;
                        }
                        break;
                    case IconType.FontAwesome:
                        <i class="@Settings.Icon" aria-hidden="true"></i>
                        break;
                    case IconType.Material:
                        <i class="material-icons" aria-hidden="true">@Settings.Icon</i>
                        break;
                }
            </div>
        }
        
        <p class="blazored-toast-message">@Message</p>
        
        @if (Settings.DisableTimeout!.Value || Settings.ShowCloseButton)
        {
            <button type="button" class="blazored-toast-close" @onclick=@Close>
                <i aria-label="icon: close" class="blazored-toast-close-icon">
                    @if (CloseButtonContent != null)
                    {
                        @CloseButtonContent
                    }
                    else
                    {
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" height="1.5em">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    }
                </i>
            </button>
        }

        @if (Settings is { DisableTimeout: false, ShowProgressBar: true })
        {
            <div class="blazored-toast-progressbar">
                <span style="width: @(_progress)%;"></span>
            </div>
        }
    </div>
}