@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<BlazoredToasts Position="@settings.Position"
                Timeout="@settings.TimeoutSeconds"
                IconType="IconType.Material"
                InfoIcon="school"
                SuccessIcon="done_outline"
                WarningIcon="warning"
                ErrorIcon="error_outline"
                InfoClass="@settings.CustomCssClass"
                SuccessClass="@settings.CustomCssClass"
                WarningClass="@settings.CustomCssClass"
                ErrorClass="@settings.CustomCssClass"
                ShowProgressBar="@settings.ShowProgressBar"
                CloseDelay="@settings.CloseDelay" />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @Body
        <SampleSettings Settings="@settings" OnSettingsUpdated="@HandleSettingsUpdated" />
    </div>
</div>

@code
{
    Settings settings = new Settings();

    void HandleSettingsUpdated()
    {
        InvokeAsync(StateHasChanged);
    }
}
